@keyframes pulse {
  0% { transform: scale(1); color: #222222 }
  50% { transform: scale(1.1); color: #666666 }
  100% { transform: scale(1); color: #222222 }
}

.pulse-text {
  animation: pulse 2s infinite;
}
